body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-family: Abel, sans-serif;
    perspective: 1000px;
}

#Resources {
    display: none;
    opacity: 0;
}

#MainFrame {
    position: absolute;
    top: 0;
    left: 0;
}

#StartPage {
    position: absolute;
    top: 0;
    left: 0;
}

section {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

section:nth-child(odd) {
    background: #222;
}

section:nth-child(even) {
    background: #111;
}

.Heading {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.Helper {
    position: fixed;
    width: 45px;
    height: 30px;
    z-index: 99;
}

.Link {
    position: fixed;
    width: 48px;
    height: 48px;
    z-index: 99;
}

.Heading object {
    width: 100%;
    height: 128px;
}

/*Who We Are Start*/
#WhoWeAre {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.WhoWeAreEntry {
    display: block;
    position: absolute;
    overflow: hidden;
}

#WhoWeAreContentSVG {
    top: 100px;
    left: -10px;
}

#WhoWeAreTwoSVG {
    top: 150px;
    left: -10px;
}

#WhoWeAreThreeSVG {
    top: 340px;
    left: -10px;
}

#WhoWeAreIconsSVG {
    right: 0;
    bottom: 0;
}

/*Who We Are End*/

#MemberContainer {
    text-align: center;
    padding-top: 125px;
}

.Member {
    position: relative;
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border: solid 3px #ffffff;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.Member .Name {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 5px 0 8px 0;
    text-align: center;
    font-size: 16px;
    background-color: #ffffff;
    color: #212121;
}

/* Envelope Start */

#EnvelopeWrapper {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#Envelope {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#EnvelopeBackSVG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#EnvelopeFrontSVG {
    position: absolute;
    top: 216px;
    left: 0;
    z-index: 2;
}

#Form {
    display: block;
    position: absolute;
    left: 69px;
    margin-top: -25px;
    width: 460px;
    z-index: 1;
}

#Form table {
    display: block;
    width: 460px;
    height: auto;
}

#Form td {
    width: 460px;
}

#Form input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-color: #333333;
    background: none;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    width: 209px;
    z-index: 1;
    opacity: 0.8;
}

#Form textarea {
    outline: none;
    background: none;
    resize: none;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 2px;
    border-color: #333333;
    overflow: hidden;
    opacity: 0.8;
    width: 440px;
    max-height: 160px;
}

.Tag {
    font-weight: bold;
    position: relative;
    left: 10px;
    top: 29px;
    display: block;
    opacity: 0.5;
    z-index: -1;
}

#ErrorMessage {
    text-align: center;
    width: 100%;
    color: rgb(190, 60, 60);
    opacity: 0;
    font-weight: bold;
}

#MessageCount {
    opacity: 0;
}

.Message {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    z-index: 99;
    display: none;
    opacity: 0;
}

#Loading {
    color: rgb(0, 190, 190);
}

#Done {
    color: rgb(0, 220, 160);
}

#Fail {
    color: rgb(255, 120, 120);
}

/* Envelope End */

/* Misc Start */

.section_content {
    position: absolute;
    left: 0;
    top: 15%;
    height: 90%;
    width: 100%;
}

/* Misc End */